.rhap_container {
  border-radius: 0px 0px 5px 5px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
}

.rhap_container:focus {
  outline: none;
}

.rhap_main-controls-button {
  color: whitesmoke;
}

.rhap_volume-indicator {
  background: whitesmoke;
}

.rhap_volume-button {
  color: whitesmoke;
}

.rhap_volume-bar {
  background: rgba(139, 0, 0, 0.6);
}

.rhap_progress-bar-show-download {
  background-color: rgba(0, 0, 0, 0.6);
}

.rhap_progress-indicator {
  background: whitesmoke;
}

.rhap_download-progress {
  background-color: rgba(245, 245, 245, 0.1);
}

.rhap_time {
  color: rgba(255, 255, 255, 0.3);
}

.rhap_progress-filled {
  background-color: rgba(139, 0, 0, 0.6);
}

.rhap_repeat-button {
  color: whitesmoke;
}

#audio-player {
  margin: 27px 0px;
}

#cover-img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.song {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 0px;
  margin: 7px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 250ms;
  height: 45px;
  color: rgba(245, 245, 245, 0.3);
}

.song:hover,
.song.even:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: whitesmoke;
}

.song.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: whitesmoke;
  border: 1px solid rgba(245, 245, 245, 0.3);
}

.song.even {
  background-color: rgba(0, 0, 0, 0.4);
}

.accordion-collapse {
  width: 100%;
  margin: auto;
  padding: 0px 10px;
}

#buttonsAccordion .d-grid {
  padding: 3px 5px;
}

#audio-player .btn-outline-light {
  border-color: rgba(245, 245, 245, 0.3);
  opacity: 0.7;
}

#buttonsAccordion .modal-body {
  text-align: center;
}

.getSongButtons a {
  height: 82px;
  width: fit-content;
  display: block;
  margin: 10px auto;
}

.getSongButtons img {
  height: inherit;
  border-radius: 11px;
  border: 4px solid rgba(245, 245, 245, 0.2);
  display: block;
  transition: 300ms;
}

.getSongButtons img:hover {
  opacity: 0.7;
}

.itunes {
  background: rgba(245, 245, 245, 0.2);
  padding: 5px 27px;
}

.appleMusic {
  padding: 0px;
  width: 190px;
}

.spotify {
  padding: 10px;
}
