.a2a_s_snapchat {
  border: 1px solid yellow;
}

#aboutus {
  color: white;
}

.aboutuspic {
  width: 100%;
  height: 315px;
  margin-top: 30px;
}

.bio p {
  text-indent: 13%;
  margin: 20px;
  text-align: center;
  text-shadow: 1px 0.5px black;
}

.bio a {
  color: darkred;
}

#aboutus p span {
  font-size: 27px;
}

.membersNav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: darkred;
  text-shadow: 1px 1px #3b0600;
  border-bottom: 0.5px solid white;
}

.sticky {
  position: sticky;
  top: 95.5px;
}

@media only screen and (max-width: 992px) {
  .sticky {
    position: sticky;
    top: 87px;
  }
}

.members h5 {
  color: darkred;
  text-align: center;
  text-shadow: 1px 1px #3b0600;
}

.members .row {
  padding-top: 27px;
}

.members img {
  max-width: 100%;
  padding-bottom: 27px;
  border-radius: 5px;
}

.members h4 {
  text-align: center;
  color: darkred;
  text-shadow: 2px 1px black;
}
.members p {
  margin: auto;
  min-width: 333px;
  text-align: center;
}

.a2a_kit {
  margin: auto;
}

span.a2a_svg {
  height: 44px;
  width: 44px;
}

.followme {
  height: 77px;
  width: 200px;
  margin: auto;
  cursor: pointer;
}

.ind-bio {
  height: 211px;
  margin: auto;
}

.ind-bio a {
  margin: auto;
}
