.beer {
  margin: 0px 5px;
}

.beer img {
  height: 41px;
  width: 50px;
}

@media only screen and (max-width: 618px) {
  .beer {
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

#newsletterModal .modal-content {
  background-color: black;
  border: 2px solid darkred;
  color: darkred;
}

#newsSub {
  color: darkred;
}

#newsDetails {
  font-size: 17px;
  margin-top: 27px;
  width: 373px;
  text-shadow: 1px 1px darkred;
  color: white;
}

button.close {
  color: white;
}

@media only screen and (max-width: 650px) {
  .newsletter input {
    margin-bottom: 5px;
  }
  input.form-control {
    margin-left: 0.5rem;
    width: 286px;
  }
}

@media only screen and (max-width: 576px) {
  .newsletter input {
    margin-bottom: 0px;
  }
  input.form-control {
    margin-left: 0px;
  }
}

/*BOTTOM NAV ICONS*/

.iconsNav img {
  border-radius: 11px;
  width: 40px;
  margin: 11px 7px;
}

@media only screen and (max-width: 949px) {
  .iconsNav {
    margin-top: 13px;
  }

  #bottomNav {
    padding-top: 21px;
  }
}

.mailz {
  border-radius: 4px;
}

#st-1 span {
  font-family: 'Sancreek';
}

#contact a {
  color: darkred;
}

.jumbotron p img {
  height: 33px;
}

a {
  cursor: pointer;
  color: white;
}

/*FOOTER */

footer {
  color: white;
}

footer h5 {
  color: darkred;
  text-shadow: 1px 1px #3b0600;
}

#footer-links li {
  padding: 0px 16px;
  color: white;
}

#footer-links li a:hover {
  color: darkred;
}

.footer-copyright {
  color: black;
  border: 6px solid black;
}

.footer-copyright a {
  color: darkred;
}

a.nav-item.active {
  color: darkred;
}
