#blog .img-container {
  margin-top: 33px;
}

#blog .main.nav {
  position: sticky;
  z-index: 1;
  top: 95.5px;
}

@media only screen and (max-width: 991px) {
  #blog .main.nav {
    top: 88px;
  }
}

#blog .videos-tab {
  margin-top: 27px;
  color: white;
}

.videos-tab .nav-link.select {
  color: darkred;
}

/* h5.text-center {
  padding-bottom: 1px;
} */

#blog .main {
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  z-index: 1;
  top: 95.5px;
  box-shadow: 0px -1px 13px black;
  font-size: 27.5px;
}

#blog .nav-link.active {
  border-color: transparent;
  background-color: transparent;
  color: darkred;
  text-shadow: 2px 0.5px black;
}
#blog .nav-link:hover {
  border-color: transparent;
  background-color: transparent;
  color: darkred;
  text-shadow: 2px 0.5px black;
}

.img-thumbnail {
  background-color: black;
}

#blog .img-container img {
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
  min-width: 300px;
}

#blog h5 .nav-link {
  color: white;
  text-shadow: 1.5px 1px darkred;
  margin-top: 0px;
}

#blog .video {
  margin: 13px auto;
  width: 100%;
  background-color: black;
  border: 1px solid black;
  height: 230px;
}

iframe {
  width: 100%;
  height: 100%;
}

.blog-post {
  margin: 33px auto;
  max-width: 420px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.blog-post .title {
  color: darkred;
  text-shadow: 1px 0.5px #3b0600;
}

.blog-post hr {
  margin: 5px 0px;
}

.blog-post .card-header {
  padding: 0px;
}

#videos {
  padding-bottom: 13px;
}

#pictures {
  padding-bottom: 33px;
}

.yt-api-cont {
  width: 103px;
  margin: 16px auto;
  height: 19px;
}
