.nav.merchstore {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 0.5px solid white;
  box-shadow: 0px -1px 13px black;
  position: sticky;
  z-index: 1;
  top: 95.5px;
  width: 100%;
  color: darkred;
}

#merch {
  font-size: 18px;

  color: white;
}

#product-list {
  margin-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}

#merch h5 {
  margin-top: 24px;
  color: darkred;
  text-shadow: 1px 1px #3b0600;
}

#merch .col-sm {
  margin: auto;
}

#cart .list-group-item {
  border: none;
}

#merch .card {
  max-width: 366px;
  margin: 20px auto;
  background-color: black;
  border: 1px solid white;
}

#merch .card-img-top {
  max-height: 366px;
}

#merch h5.card-title {
  color: white;
  font-size: 27px;
  text-shadow: none;
}

#merch .card-body {
  padding-top: 0px;
}

#merch .card-body p {
  margin-bottom: 0px;
}

.product .card-body {
  text-align: center;
}

.product .form-group {
  margin: auto;
  margin-bottom: 13px;
}

.price {
  color: white;
  font-size: 27px;
  margin-bottom: 10px;
}
