#music .row {
  margin: 0px;
  text-shadow: 1px 0.5px black;
}

.nav.thcoll {
  background-color: black;
  border-bottom: 0.5px solid white;
  box-shadow: 0px -1px 13px black;
  position: sticky;
  z-index: 1;
  top: 95.5px;
  width: 100%;
  opacity: 0.8;
}

#alboom {
  color: darkred;
  text-shadow: 1px 1px #3b0600;
}

#album-name {
  text-decoration: underline;
  margin: 0px 16px;

  color: black;
  text-shadow: 2px 1px 0px black;
}

.stem {
  width: 100%;
}

.stem.text-center {
  color: darkred;
  text-shadow: 1px 1px 0px black;
  margin-bottom: 33px;
}

#leaves {
  display: block;
  width: 333px;
  height: 77px;
  margin: auto;
  margin-bottom: 27px;
}

#vango {
  width: 133px;
  display: block;
  margin: auto;
  margin-bottom: 13px;
}

#album-cover {
  max-width: 100%;
  border: 5px solid black;
  margin-top: 33px;
}

#album-stuff {
  max-width: 535px;
}

.hcll {
  height: auto;
  margin: auto;
}

#music .col {
  max-width: 333px;
}

#music .col.img-container {
  max-width: 420px;
}

.musicvid {
  max-height: 394px;
  padding-left: 0px;
  padding-right: 0px;
  border: 3px white solid;
  background-color: black;
  margin: 0px 5%;
}

#vid-cont {
  background-color: black;
}

.cbsingle {
  min-width: 300px;
  max-width: 420px;
  margin-bottom: 33px;
}

.album h5 {
  text-align: center;
}

h5#featured {
  color: darkred;
  text-shadow: 1px 1px white;
  text-align: center;
  padding-top: 27px;
  margin: 0px 16px 27px 16px;
}

.cbsingle img {
  width: 100%;
  border-radius: 7px;
}

#album-stuff .nav {
  color: white;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

#music ul {
  max-width: 100%;
}

#music .list-group {
  margin: 33px 0px;
  max-width: 100%;
  min-width: 300px;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 513px) {
  .shit {
    max-width: 100%;
  }
}

.album-tab a:hover {
  color: white;
}

.alboom {
  font-style: italic;
}

#music .list-group-item {
  max-width: 100%;
}

#lyrics .nav-link.active {
  color: darkred;
}
#lyrics .nav-link:hover {
  color: darkred;
}

#songs .list-group-item {
  text-align: center;
  max-width: 100%;
}

#lyrics .list-group-item {
  min-width: 475px;
}

@media only screen and (max-width: 600px) {
  #lyrics .list-group-item {
    min-width: 0px;
  }
}
#lyrics li {
  text-align: center;
  font-size: 20px;
}

#lyrics h5 {
  text-shadow: 1px 1px 0px darkred;
}

#credits {
  text-align: center;
  font-size: 20px;
  max-width: 472px;
  color: white;
  padding-bottom: 33px;
}

#credits h6 {
  text-shadow: 1px 0.5px #3b0600;
  margin: 33px 0px 13px 0px;
  color: darkred;
}

.buyalbum {
  margin: 29px 29%;
}

.itunes {
  width: 106px;
}

.btn-danger:hover {
  background-color: black;
}

.badge-danger {
  background-color: darkred;
  cursor: pointer;
}

#songs {
  max-width: 100%;
}
